{% macro label(value, y_offset) %}
<a-entity
    text="
        color: black;
        value: {{ value }};
    "
    position="0 {{ y_offset }} 0">
</a-entity>
{% endmacro %}

{% macro input(type, name, value, y_offset) %}
<a-entity
    input
    type="{{ type }}"

    {% if type == 'hidden' or type == 'text' or type == 'textarea' %}
        name="{{ name }}"
        value="{{ value }}"
    {% endif %}

    {% if y_offset %}
        position="0 {{ y_offset }} 0.01"
    {% endif %}
    >
</a-entity>
{% endmacro %}

{% macro backdrop() %}
<a-plane
    color="white"
    width="1.5"
    height="1.5"
    material="shader: flat;">
</a-plane>
{% endmacro %}
