{#
    Title: New Post Form
    Parameters:
        - topic_id: number
#}

{% from './_controls.html' import label, input, backdrop %}

<a-entity form>
    {{ backdrop() }}
    {{ input(type='hidden', name='action', value='post') }}
    {{ input(type='hidden', name='topic_id', value=topic_id) }}
    {{ label(value='Title', y_offset=0.5) }}
    {{ input(type='text', name='title', value='', y_offset=0.4) }}
    {{ label(value='Body', y_offset=0.3) }}
    {{ input(type='textarea', name='body', value='', y_offset=0.2) }}
    {{ input(type='submit', y_offset=-0.4) }}
    {{ input(type='close', y_offset=-0.5) }}
</a-entity>
