{# Topics #}

{% set topics_row_depth = 10 %}

{% set house_width = 11 %}
{% set house_height = 7 %}
{% set house_depth = 5 %}
{% set house_spacing = 10 %}
{% set house_door_width = 3 %}
{% set house_door_height = 2 %}
{% set house_title_height = 4 %}
{% set house_title_font_width = 15 %}
{% set house_roof_height = 3 %}

{% set app_title_height = 10 %}
{% set app_title_font_width = 30 %}

{# Topic #}

{% set topic_z_offset_initial = -20 %}
{% set topic_corridor_width = 10 %}
{% set topic_thread_gap = 4 %}

{# Thread #}

{% set thread_post_footprint_width = 2 %}
{% set thread_post_footprint_depth = 2 %}
{% set thread_columns = 5 %}
{% set thread_padding = 2 %}

{% set thread_content_width = thread_columns * thread_post_footprint_width %}
{% set thread_full_width = thread_content_width + 2 * thread_padding %}
