{% macro text(class, align, color, width, value, x, y, z) %}
<a-entity
    class="{{ class }}"
    position="{{ x }} {{ y }} {{ z }}"
    text="
        align: {{ align }};
        baseline: top;
        color: {{ color }};
        width: {{ width }};
        value: {{ value }};
    ">
</a-entity>
{% endmacro %}

{% macro backdrop(class, color, width, height, x, y, z) %}
<a-plane
    class="{{ class }}"
    color="{{ color }}"
    material="side: double;"
    height="{{ height }}"
    width="{{ width }}"
    position="{{ x }} {{ y }} {{ z }}">
</a-plane>
{% endmacro %}
