{#
    Parameters:
        - thread: Thread
#}

{% from './_macros.html' import backdrop, text %}

{% from './_globals.html' import
    thread_post_footprint_width,
    thread_post_footprint_depth,
    thread_columns,
    thread_padding,
    thread_content_width,
    thread_full_width
%}

{% set thread_carpet_depth =
    (thread_post_footprint_depth * (thread.replies.length + 1)) +
    (thread_padding * 2)
%}

<a-entity thread-post-id="{{ thread.post.id }}">
    <a-plane
        class="thread_carpet"
        color="blue"
        width="{{ thread_full_width }}"
        height="{{ thread_carpet_depth }}"
        position="0 0.1 {{ -thread_carpet_depth / 2 }}"
        rotation="-90 0 0">
    </a-plane>

    {% set x_offset = - thread_padding - thread_post_footprint_width %}
    {% set z_offset = - thread_padding - (thread_post_footprint_depth / 2) %}
    <a-entity
        position="{{ x_offset }} 0 {{ z_offset }}"
        formlauncher="action: reply; id: {{ thread.post.id }};">
        {{ backdrop('post-backdrop', 'white', 1.5, 1.5, 0, 1.5, -0.01) }}
        {{ text('post-title', 'left', 'black', 1.5, thread.post.title, 0.25, 2,
            0) }}

        {% set post_details = thread.post.date_time.toDateString() + '\n\n' +
            thread.post.body %}
        {{ text('post-details', 'left', 'black', 1, post_details, 0, 1.9, 0) }}
    </a-entity>

    {% set i = 1 %}
    {% set z_offset = -thread_padding - (1.5 * thread_post_footprint_depth) %}
    {% for reply in thread.replies %}

        {% set a = thread_columns %}
        {% set current_column = -Math.abs(i % (2 * a - 2) - a + 1) + a - 1 %}

        {% set x_offset = (current_column * thread_post_footprint_width) -
                        (thread_content_width / 2) +
                        (thread_post_footprint_width / 2)
        %}

        <a-entity class="reply"
            position="{{ x_offset }} 0 {{ z_offset }}"
            formlauncher="action: reply; id: {{ thread.post.id }};">
            {% set title = 'Re: ' + thread.post.title %}
            {% set content = reply.date_time.toDateString() + '\n\n' +
                reply.body %}

            {{ backdrop('reply-backdrop', 'white', 1.5, 1.5, 0, 1.5 -0.01) }}
            {{ text('reply-title', 'left', 'black', 1.5, title, 0.25, 2, 0) }}
            {{ text('reply-content', 'left', 'black', 1, content, 0, 1.9, 0) }}
        </a-entity>
        {% set i = i + 1 %}
        {% set z_offset = z_offset - thread_post_footprint_depth %}
    {% endfor %}
</a-entity>
