{#
    Title: Thread
    Parameters:
        - thread: Thread
#}

{% from './_macros.html' import backdrop, text %}

{% from './_globals.html' import
    thread_post_footprint_width,
    thread_post_footprint_depth,
    thread_lane_count,
    thread_padding,
    thread_content_width,
    thread_full_width
%}

{#
    The depth of the thread carpet is the sum of:
        * The depth of the footprints of the post and all replies
        * Twice the padding
#}
{% set thread_carpet_depth =
    (thread_post_footprint_depth * (thread.replies.length + 1)) +
    (2 * thread_padding)
%}

{# Render the thread -------------------------------------------------------- #}

<a-entity thread-post-id="{{ thread.post.id }}">

    {# Render the carpet ---------------------------------------------------- #}

    <a-plane
        class="thread-carpet"
        color="blue"
        width="{{ thread_full_width }}"
        height="{{ thread_carpet_depth }}"
        position="0 0 {{ -thread_carpet_depth / 2 }}"
        rotation="-90 0 0">
    </a-plane>

    {# Render the post ------------------------------------------------------ #}

    {% set x_offset = -(thread_full_width / 2) + thread_padding +
        (thread_post_footprint_width / 2) %}
    {% set z_offset = -thread_padding - (thread_post_footprint_depth / 2) %}

    {% set post_details = thread.post.date_time.toDateString() + '\n\n' +
        thread.post.body %}

    <a-entity
        class="post"
        position="{{ x_offset }} 0 {{ z_offset }}"
        formlauncher="/post/{{ thread.post.id }}/reply/">
        {{ text('post-title', 'left', 'black', 1.5, thread.post.title, 0.25, 2,
            0) }}
        {{ text('post-details', 'left', 'black', 1, post_details, 0, 1.9, 0) }}

        {% include '../resources/tablet.html' %}

    </a-entity>

    {# Render the replies --------------------------------------------------- #}

    {% set reply_title = 'Re: ' + thread.post.title %}

    {# Initialize the counter and set an initial depth for the reply. #}
    {% set i = 1 %}
    {% set z_offset = z_offset - thread_post_footprint_depth %}
    {% for reply in thread.replies %}

        {# Calculate which lane the reply should be in #}
        {% set a = thread_lane_count %}
        {% set lane_index = -Math.abs(i % (2 * a - 2) - a + 1) + a - 1 %}

        {# Calculate the x_offset based on the lane #}
        {% set x_offset = (lane_index * thread_post_footprint_width) -
            (thread_content_width / 2) + (thread_post_footprint_width / 2)
        %}

        <a-entity
            class="reply"
            position="{{ x_offset }} 0 {{ z_offset }}"
            formlauncher="/post/{{ thread.post.id }}/reply/">

            {% set reply_content = reply.date_time.toDateString() + '\n\n' +
                reply.body %}

            {{ text('reply-title', 'left', 'black', 1.5, reply_title, 0.25, 2,
                0) }}
            {{ text('reply-content', 'left', 'black', 1, reply_content, 0, 1.9,
                0) }}
                

                <!-- Tablet backdrop  -->
                {% include '../resources/tablet.html' %}
        </a-entity>

        {# Increment the counter and move the next reply further back. #}
        {% set i = i + 1 %}
        {% set z_offset = z_offset - thread_post_footprint_depth %}
    {% endfor %}

</a-entity>
