{#
    Title: Topics Page
    Parameters:
        - topics: Topic[]
#}

{% from './_macros.html' import text %}

{% from './_globals.html' import
    topics_row_depth,
    house_width,
    house_height,
    house_depth,
    house_spacing,
    house_door_width,
    house_door_height,
    house_title_y_offset,
    house_title_font_width,
    house_roof_height,
    app_title,
    app_title_y_offset,
    app_title_font_width
%}

{% set house_count = topics.length %}
{% set house_row_width = (house_width * house_count) +
    (house_spacing * (house_count - 1)) %}

<a-entity class="topics">

    {# Application title --------------------------------------------------- #}

    {{ text(
        class='app-title',
        align='center',
        color='black',
        width=app_title_font_width,
        value=app_title,
        x=0,
        y=app_title_y_offset,
        z=topics_row_depth) }}

    {# Render the houses --------------------------------------------------- #}

    {% set x_offset = -(house_row_width / 2) + (house_width / 2) %}
    {% for topic in topics %}

        {# Topic house #}
        <a-entity
            topic-id="{{ topic.id }}"
            position="{{ x_offset }} 0 {{ topics_row_depth }}"
            absolute-x="{{ x_offset }}"
            absolute-z="{{ topics_row_depth }}">

            {# Brickwork #}
            <a-box
                color="red"
                width="{{ house_width }}"
                height="{{ house_height }}"
                depth="{{ house_depth }}"
                position="0 {{ house_height / 2 }} {{ -house_depth / 2 }}">
            </a-box>

            {# Roof #}
            <a-entity
                class="roof"
                position="0 {{ house_height }} 0"
                scale="{{ house_width }} {{ house_roof_height }} {{ house_depth }}">

                {# Front triangle #}
                <a-triangle
                    color="yellow"
                    vertex-a="-0.5 0 0"
                    vertex-b="0.5 0 0"
                    vertex-c="0 1 0">
                </a-triangle>

                {# Back triangle #}
                <a-triangle
                    color="yellow"
                    vertex-a="0.5 0 -1"
                    vertex-b="-0.5 0 -1"
                    vertex-c="0 1 -1">
                </a-triangle>

                {# Roof left side #}
                <a-triangle
                    color="yellow"
                    vertex-a="-0.5 0 -1"
                    vertex-b="-0.5 0 0"
                    vertex-c="0 1 0">
                </a-triangle>
                <a-triangle
                    color="yellow"
                    vertex-a="0 1 -1"
                    vertex-b="-0.5 0 -1"
                    vertex-c="0 1 0">
                </a-triangle>

                {# Roof right side #}
                <a-triangle
                    color="yellow"
                    vertex-a="0.5 0 -1"
                    vertex-b="0 1 0"
                    vertex-c="0.5 0 0">
                </a-triangle>
                <a-triangle
                    color="yellow"
                    vertex-a="0 1 -1"
                    vertex-b="0 1 0"
                    vertex-c="0.5 0 -1">
                </a-triangle>
            </a-entity>

            {# Door #}
            <a-plane
                color="brown"
                width="{{ house_door_width }}"
                height="{{ house_door_height }}"
                position="0 {{ house_door_height / 2 }} 0.05">
            </a-plane>

            {# Topic name #}
            {{ text(
                class='topic-name',
                align='center',
                color='black',
                width=house_title_font_width,
                value=topic.name,
                x=0,
                y=house_title_y_offset,
                z=0.1) }}
        </a-entity>

        {# Move the next house further right. #}
        {% set x_offset = x_offset + house_width + house_spacing %}
    {% endfor %}
</a-entity>
