{#
    Parameters:
        - topic: Topic
#}

{% set post_footprint_width = 2 %}
{% set post_footprint_height = 2 %}

{% set corridor_width = 10 %}

{% set thread_columns = 3 %}
{% set thread_padding = 2 %}
{% set thread_gap = 2 %}

{% set thread_carpet_width =
    ( thread_columns * post_footprint_width ) +
    ( thread_padding * 2 )
%}

{% macro backdrop(class, color, width, height, x, y, z) %}
<a-entity class="{{ class }}" position="{{ x }} {{ y }} {{ z }}">
    <a-plane
        color="{{ color }}"
        height="{{ height }}"
        width="{{ width }}">
    </a-plane>
    <a-plane
        color="{{ color }}"
        height="{{ height }}"
        width="{{ width }}"
        rotation="0 180 0">
    </a-plane>
</a-entity>
{% endmacro %}

<a-entity
    data-type="topic"
    data-id="{{ topic.id }}"
    data-name="{{ topic.name }}"
    position="0 0 -10">
    <a-entity
        position="0 5 0"
        text="
            align: center;
            color: black;
            width: 10;
            value: {{ topic.name }};
        ">
    </a-entity>

    {% set left = true %}
    {% set thread_z_offset = 0 %}
    {% for thread in topic.threads %}
        {% if left %}
            {% set thread_x_offset = corridor_width / 2 %}
            {% set thread_y_rotation = -90 %}
        {% else %}
            {% set thread_x_offset = corridor_width / -2 %}
            {% set thread_y_rotation = 90 %}
        {% endif %}

        {% set thread_carpet_height =
            ( post_footprint_height * ( thread.replies.length + 1 ) ) +
            ( thread_padding * 2 )
        %}

        <a-entity class="thread"
            position="{{ thread_x_offset }} 0 {{ thread_z_offset }}"
            rotation="0 {{ thread_y_rotation }} 0">

            <a-plane
                class="thread_carpet"
                color="blue"
                width="{{ thread_carpet_width }}"
                height="{{ thread_carpet_height }}"
                position="0 0.1 {{ - thread_carpet_height / 2 }}"
                rotation="-90 0 0">
            </a-plane>

            <a-entity
                data-type="post"
                data-id="{{ thread.post.id }}"
                position="0 0 {{ - thread_padding - post_footprint_height }}"
                cursorlistener>

                {{
                    backdrop('post-backdrop', 'white', 1.5, 1.5, 0, 1.5, -0.01) 
                }}

                <a-entity class="post-title"
                    position="0 2 0"
                    text="color: black; value: {{ thread.post.title }};"
                ></a-entity>

                <a-entity class="post-date"
                    position="0 1.8 0"
                    text="color: black; value: {{ thread.post.date_time }};"
                ></a-entity>

                <a-entity class="post-body"
                    position="0 1.5 0"
                    text="color: black; value: {{ thread.post.body }}"
                ></a-entity>
            </a-entity>

            {% set iterator = 1 %}
            {% set reply_z_offset = - thread_padding - ( 2 * post_footprint_height ) %}
            {% for reply in thread.replies %}

                {% set reply_x_offset = post_footprint_width * (
                    thread_columns - Math.abs( iterator % ( 2 * ( thread_columns - 1 ) ) - thread_columns + 1 )
                ) - ( post_footprint_width * thread_columns / 2 ) %}

                <a-entity class="reply"
                    position="{{ reply_x_offset }} 0 {{ reply_z_offset }}">

                    {{
                        backdrop('reply-backdrop', 'white', 1.5, 1.5, 0, 1.5 -0.01)
                    }}

                    <a-entity class="reply-post"
                        position="0 2 0"
                        text="
                        color: black;
                        value: {{ ['Re: ', thread.post.title] | join }}"
                        >
                    </a-entity>

                    <a-entity class="reply-date"
                        position="0 1.8 0"
                        text="color: black; value: {{ reply.date_time }};"
                    ></a-entity>

                    <a-entity class="reply-body"
                        position="0 1.5 0"
                        text="color: black; value: {{ reply.body }}"
                    ></a-entity>
                </a-entity>
                {% set reply_count = reply_count + 1 %}
                {% set reply_z_offset = reply_z_offset - post_footprint_height %}
            {% endfor %}

        </a-entity>

        {% if left %}
            {% set left = false %}
        {% else %}
            {% set left = true %}
            {% set thread_z_delta = thread_gap +
                                    ( 2 * thread_padding ) +
                                    ( thread_columns * post_footprint_width ) %}
            {% set thread_z_offset = thread_z_offset - thread_z_delta %}
        {% endif %}
    {% endfor %}
</a-entity>
