{#
    Parameters:
        - topics: Topic[]
#}

{% from './macros.html' import text %}

{% from './_globals.html' import
    topics_row_depth,
    house_width,
    house_height,
    house_depth,
    house_spacing,
    house_door_width,
    house_door_height,
    house_title_height,
    house_title_font_width,
    house_roof_height,
    app_title_height,
    app_title_font_width
%}

{% set house_row_x_offset =
    (
        ( house_width * topics.length ) +
        ( house_spacing * ( topics.length - 1 ) )
    )
    / -2
    + ( house_width / 2 )
%}

<a-entity position="{{ house_row_x_offset }} 0 0">
    {{ text(
        class='app-title',
        align='center',
        color='black',
        width=app_title_font_width,
        value='VR Forum',
        x=-house_row_x_offset,
        y=app_title_height,
        z=-topics_row_depth) }}
    {% set x_offset = 0 %}
    {% for topic in topics %}
        <a-entity
            topic-id="{{ topic.id }}"
            position="{{ x_offset }} 0 {{ - topics_row_depth }}">
            <a-box
                color="red"
                width="{{ house_width }}"
                height="{{ house_height }}"
                depth="{{ house_depth }}"
                position="0 {{ house_height / 2 }} {{ - house_depth / 2 }}">
            </a-box>
            <a-triangle
                color="yellow"
                vertex-a="{{ -house_width / 2 }} {{ house_height }} 0"
                vertex-b="{{ house_width / 2 }} {{ house_height }} 0"
                vertex-c="0 {{ house_height + house_roof_height }} 0">
            </a-triangle>
            <a-triangle
                color="yellow"
                vertex-a="{{ house_width / 2 }} {{ house_height }} {{ -house_depth }}"
                vertex-b="{{ -house_width / 2 }} {{ house_height }} {{ -house_depth}}"
                vertex-c="0 {{ house_height + house_roof_height }} {{ -house_depth }}">
            </a-triangle>
            <a-plane
                color="brown"
                width="{{ house_door_width }}"
                height="{{ house_door_height }}"
                rotation="0 0 -90"
                position="0 {{ house_door_height / 2 }} 0.05"
                link="href: /topic/{{ topic.id }}/">
            </a-plane>
            {{ text(
                class='topic-title',
                align='center',
                color='black',
                width=house_title_font_width,
                value=topic.name,
                x=0,
                y=house_title_height,
                z=0.1) }}
        </a-entity>
        {% set x_offset = x_offset + house_width + house_spacing %}
    {% endfor %}
</a-entity>
